# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
